.content {
    padding: 20px;
}

.content h2 {
    font-size: 20px;
}

.content p {
    margin-bottom: 10px;
}

.footer {
    background-color: #ccc;
    padding: 10px;
}

.footer p {
    text-align: center;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
}